<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Bootstrap CSS-->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/styles.css}">
    <title>Sporty Shoes</title>
</head>
<body>
<div th:replace="fragments/admin-header :: header">&nbsp;</div>
<div class="container">
    <div class="fs-4">
        Purchase Report
    </div>
    <div class="fw-bold">Orders: <span th:text="${listAllPurchases.size()}"></span></div>
    <div class="fw-bold">Total Amount:    <span th:text="${totalAmount}"></span></div>
    <table class="table table-striped table-responsive">
        <thead>
        <tr>
            <th scope="col">Order ID</th>
            <th scope="col">User</th>
            <th scope="col">Date</th>
            <th scope="col">Total</th>
            <th scope="col">Items</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${listAllPurchases}">
            <td th:text="${p.getId()}"></td>
            <td th:text="${mapUsers.get(p.getId())}"></td>
            <td th:text="${#dates.format(p.getDate(), 'dd-MM-yyyy')}"></td>
            <td th:text="${p.getTotal()}"></td>
            <td style="white-space: pre-line" th:text="${mapItems.get(p.getId())}"></td>
        </tr>
        </tbody>
    </table>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
