<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Bootstrap CSS-->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/styles.css}">
    <title>Sporty Shoes</title>
</head>
<div th:replace="fragments/header :: header">&nbsp;</div>
<body>
<div class="container">
    <div class="fs-4">
        Checkout
    </div>
    <span class="fw-bold">Your card will be charged an amount of </span>
    <span class="fw-bold" th:text="${cartValue}"></span>
    <br>
    <div>
        <a th:href="@{/completepurchase}">Click to complete checkout</a>
    </div>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
