<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Bootstrap CSS-->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/styles.css}">
    <title>Sporty Shoes</title>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <div class="fs-4">
        Dashboard
    </div>
    <div th:if="${user} != null">
        <div class="fw-bold">Welcome <span th:text="${user.getFirstname()}">NAME</span></div>
    </div>
    <!--<div th:if="${#authorization.expression('isAuthenticated()')}">-->
    <!--    <p>authenticated</p>-->
    <!--</div>-->
</div>
</body>
</html>
